/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}